@page "/mammals"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Blazor8Scaffold.Data.Blazor8DbContext DB
@using Blazor8Scaffold

@rendermode InteractiveServer

<PageTitle>Mammals</PageTitle>

<h1>List of UK Mammals</h1>

<p>
    <a class="btn btn-success" href="mammals/create">Create New</a>
</p>

<QuickGrid Class="table" Items="mammals" Pagination="@pagination">
    <PropertyColumn Property="mammals => mammals.Name" Sortable="true">
        <ColumnOptions>
            <div class="search-box">
                <input type="search" autofocus @bind="filterText" 
                    @bind:event="oninput" placeholder="Filter by Name" />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="mammals => mammals.Habitat" Sortable="true"/>
    <PropertyColumn Property="mammals => mammals.Diet" />

    <TemplateColumn Context="mammals">
        <a href="@($"mammals/edit?id={mammals.Id}")">Edit</a> |
        <a href="@($"mammals/details?id={mammals.Id}")">Details</a> |
        <a href="@($"mammals/delete?id={mammals.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

<Paginator State="@pagination" />

@code
{
    private string filterText = "";
    PaginationState pagination = new PaginationState {ItemsPerPage = 10};
    IQueryable<Mammals> mammals => DB.Mammals.Where(x => x.Name.Contains(filterText));
}
